<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcOICtM5-upj5bpyn9l1mJqjFCokFfPME</string>
	<key>GCM_SENDER_ID</key>
	<string>175742091827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.groww-clone</string>
	<key>PROJECT_ID</key>
	<string>groww-clone-f1d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>groww-clone-f1d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175742091827:ios:7cf8037d57f118461d5946</string>
</dict>
</plist>